.c-skill{

  @include iphone6{
    flex-direction: column;
  }
}

.c-skill-wrap{
  @include iphone6{
    width: 100%;
    flex-direction: column;
  }
  &__content{
    @include iphone6{
      width: 100%;
    }
  }
  &__title{
    margin: 1.5em 0;
    padding: $span-ss;
    color: #555;
    background: $c-main-opa;
    border-radius: 4px;
  }
  &__skill{
    box-sizing: border-box;
    padding: $span-ss;
  }
  &__skill-icons{
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  &__skill-icon{
    width: 20%;
    margin: $span-ss;
    display: block;
  }
  &__list-item{
    list-style: inside;
  }
}
