
/**
 * Media
 */
 .c-title{
   justify-content: center;
   padding: $span-ll;
   font-family: $f-s-title;
   &__text{
     padding: 0 $span-s;
     font-size: $font-xxl;
     @include iphone6{
        font-size: $font-xl;
     }
   }
   &::before{
     content: '';
     border-bottom: 3px solid black;
     width: 10%;
     margin-bottom: 25px;
   }
   &::after{
     @extend .c-title::before;
   }
   &__header-logo{
     font-size: $font-xxl;
     color: $c-back-main;
   }
 }
