
/* ==========================================================================
   Layout
   ========================================================================== */

/* main
   ----------------------------------------------------------------- */
#main{
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
