.p-contact{
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 200px;
  &__twitter-icon{
    transition: .5s;
    font-size: $font-xl;
    &:hover{
      color: $c-twitter;
    }
  }
}
.p-contact-wrapper{
  flex-direction: column;
  background: $c-main-opa;
}
