.p-more-info{
  padding-top: $span-ss;
  margin-top: $span-ss;
  width: 400px;
  text-align: center;
  border-radius: 4px;
  transition: .5s;
  position: relative;
  height: 70px;
  background: $c-sub;
  @include iphone6{
    width: 100%;
  }
  &:hover{
    cursor: pointer;
    transition: .5s;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    transform: translateY(-5px);
  }
  &__icon-down.fa-sort-down{
    font-size: $font-xxl;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    padding-top: 6%;
    transition: .5s;
    &:hover{
      animation: slideDown 1s ease 0s;
    }
  }
  &__icon-up.fa-sort-up{
    display: none;
    font-size: $font-xxl;
  }
  &__icon-up.under-icon.fa-sort-up{
    display: block;
    font-size: $font-xxl;
  }
}

@keyframes slideDown {
0% {margin-top: -10px}
25% {margin-top: 10px}
50% {margin-top: -10px}
75% {margin-top: 10px}
100% {margin-top: 0px}
}
