.p-profile{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: $span-xl 0;
  @include iphone6{
    flex-direction: column;
    padding: 20px 10px;
  }
}
.p-profile-wrap{
  flex-direction: column;
  box-shadow: 0px 0px 8px 2px #ddd inset;
}
