.mypic-move{
  animation: swingAni 1s ease 0s;
}
.mupic-stop{
  animation: none;
}


@keyframes swingAni {
	0% {
		transform: rotate(-30deg);
	}

	16% {
		transform: rotate(30deg);
	}

	44% {
		transform: rotate(-15deg);
	}

	59% {
		transform: rotate(10deg);
	}

	78% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0);
	}

}


@keyframes undefined-easeOutElastic {
	0% {
		transform: translateY(100%);
	}

	16% {
		transform: translateY(-32.27%);
	}

	28% {
		transform: translateY(14.88%);
	}

	44% {
		transform: translateY(-4.63%);
	}

	59% {
		transform: translateY(2.36%);
	}

	73% {
		transform: translateY(0.58%);
	}

	88% {
		transform: translateY(1.8%);
	}

	100% {
		transform: translateY(0%);
	}

}
